.herramientasC {
	height: 100vh;
	.header {
		display: grid;
		grid-template-columns: 1fr 8fr;
		margin-left: 1em;
		a {
			margin: auto;
			padding: 0;
			line-height: 0;
			i {
				font-size: 2em;
				color: gray;
			}
		}
		h3 {
			padding-left: 3em;
		}
	}
	.content {
		margin: 0 1em;
		height: 100%;
		.expPanel {
			border-radius: 14px;
			margin-bottom: 4px;
			.expSummary {
				font-size: 1.2em;
				color: gray;
				b {
					display: contents;
					i {
						padding-right: 1em;
					}
				}
			}
			.expDetails {
				display: block !important;
				padding-top: 0;
				font-size: 14px;
				p {
					color: gray;
					margin-top: 0;
				}
				.proxToCal {
					color: red;
				}
			}
		}
		.expPanel::before {
			background-color: transparent;
		}
		.noTools {
			text-align: center;
			display: grid;
			margin: 4em 2em;
			i {
				font-size: 10em;
				color: gray;
			}
			p {
				color: gray;
			}
		}
	}
}

.layoutC {
	overflow: hidden;
}
