.ssoC {
	height: calc(100vh - 93px);
	z-index: 0;
	.logged {
		display: grid;
		grid-template-rows: 1fr 2fr;
		row-gap: 1em;
		height: 100%;
		.ssoSup::before {
			transform: rotate(90deg);
			content: "";
			position: absolute;
			width: 200%;
			height: 210%;
			top: -50%;
			left: -50%;
			z-index: -1;
			background-image: url("../../assets/images/homeBG2.gif");
		}
		.ssoSup {
			background-image: url("../../assets/images/homeBG2.gif");
			// background-image: url("../../assets/images/userBG2.gif");
			background-size: cover;
			// opacity: 0.2;
			// transform: rotate(45deg);
			//background-color: #202020;
			position: relative;
			overflow: hidden;
			display: grid;
			grid-template-columns: 3fr 1fr;
			.ingData {
				p {
					color: white;
					font-weight: bold;
					font-size: larger;
					margin-left: 1em;
					opacity: 0;
				}
				.animation {
					opacity: 1;
					transition: all 1s ease-in-out;
				}
			}
			.animation {
				opacity: 1 !important;
				transition: all 1s ease-in-out;
			}
			.menuBtn {
				color: white;
				font-size: 2em;
				margin-top: 0.5em;
				width: 100%;
				opacity: 0;
			}
		}
		.tasks {
			display: grid;
			grid-template-columns: 1fr;
			button {
				margin: auto;
				height: 3.5em;
				width: 16em;
				border-radius: 12px;
				font-size: 1.1em;
				z-index: 1;
				opacity: 0;
				visibility: hidden;
				span {
					padding-left: 2em;
				}
				i {
					font-size: 2em;
					left: 18px;
					position: absolute;
				}
			}
			.animation {
				opacity: 1;
				transition: all 1s ease-in-out;
				visibility: visible;
			}
		}
	}
}

.drawerNewWO {
	width: 100vw;
	.MuiDialog-paper {
		margin: 0;
	}
	.closeIcn {
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 1000;
	}
}

.ssoC_menuItem {
	font-size: 0.8em !important;
	padding: 0 1em !important;
	// height: 1em !important;
	min-height: 2.4em !important;
	color: gray !important;
	i {
		font-size: 1.4em !important;
		margin-right: 10px;
	}
}
@media print {
	.drawerNewWO {
		width: 100% !important;
	}
}
