.ssoC {
	height: calc(100vh - 93px);
	.logged {
		display: grid;
		grid-template-rows: 1fr 2fr;
		row-gap: 1em;
		height: 100%;
		.ingeData {
			background-image: url("../../assets/images/userBG2.gif");
			background-size: cover;
			p {
				color: white;
				font-weight: bold;
				font-size: larger;
				margin-left: 1em;
				opacity: 0;
			}
			div {
				opacity: 0;
			}
			.animation {
				opacity: 1;
				transition: all 1s ease-in-out;
			}

			.logoutIcon {
				color: white;
				position: absolute;
				right: 1rem;
				top: 50px;
				font-size: 2em;
			}
		}
		.tasks {
			display: grid;
			grid-template-rows: 1fr 1fr;
			button {
				margin: auto;
				height: 4em;
				width: 16em;
				font-size: 1.1em;
				opacity: 0;
				visibility: hidden;
				i {
					margin-right: 0.4em;
					font-size: 2em;
				}
			}
			.animation2 {
				visibility: visible;
				opacity: 1;
				transition: all 1s ease-in;
			}
			.animation3 {
				visibility: visible;
				opacity: 1;
				transition: all 1s ease-in;
			}
		}
	}
	.notLogged {
		justify-content: flex-end;
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 100%;
		background-image: url("../../assets/images/userBG.gif");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: top;
		background-color: #202020;
		color: white;
		padding-bottom: 4em;
		.txtFldSSO {
			border-bottom: 1px solid #295a84;
			* {
				text-align: center;
				color: whitesmoke;
			}
		}
	}
	.version {
		font-size: 0.8em;
		display: grid;
		height: 47px;
		color: white;
		align-items: center;
		text-align: center;
		background-color: #202020;
	}
}

.drawerNewWO {
	.closeIcn {
		position: absolute;
		top: 10px;
		right: 10px;
	}
}
