@import "../index.scss";

.home {
  height: 100vh;
  overflow: hidden;
  .nav-bar {
    width: 100vw;
    display: flex;
    background-color: #000000;
    .logo {
      background-image: url("../assets/images/icons/icon-384x384.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 30px;
      height: 30px;
      position: absolute;
      left: 10px;
      top: 8px;
    }
    a {
      margin: 0 auto;
      font-size: 1.4em;
      font-weight: bold;
      background: -webkit-linear-gradient(275deg, white, $secondary);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }
  }
  .views {
    height: calc(100vh - 93px);
  }
  .view1,
  .view2 {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .view2 {
    .btnSID {
      margin-top: 1em;
    }
    .info {
      text-align: center;
      height: auto;
      max-height: 22em;
      opacity: 1;
      background-color: lightgray;
      border-radius: 8px;
      padding: 0.5em;
      margin-top: 0.5em;
      transition: max-height 1.5s ease-in-out, opacity 1.5s ease-in-out;
    }
    .hideinfo {
      max-height: 0;
      opacity: 0;
      // transition: opacity 0.5s ease-in-out, max-height 1.5s ease-in-out;
    }
    .nada {
      height: 22em;
      width: 75vw;
    }
  }
  .view3 {
    text-align: center;
    margin: 0 2em;
    display: grid;
    h3 {
      margin: auto;
    }
    *:not(h3) {
      font-size: 0.9em;
    }
    .item3 {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
    .preguntas {
      display: grid;
      grid-template-columns: 5fr 1fr;
      justify-items: center;
    }
  }
  .revisar {
    .revHeader {
      display: flex;
      justify-content: space-around;
      margin: 1em 0;
      align-items: center;
    }
  }
}
// To scroll in preview
.home2 {
  overflow: scroll !important;
  background-color: white;
  height: auto;
}
// To skeletor
.skeletorRows {
  height: calc(100vh - 93px);
  grid-template-rows: repeat(9, auto);
  .MuiSkeleton-root {
    height: auto;
    margin: 1em;
  }
}

@media print {
  .home {
    .nav-bar,
    .revHeader {
      display: none !important;
      height: 0px;
    }
  }
}
